// This files stores all the improtant variables

// Colors
$black-dark: #161616;
$black-gray: #2e2e2e;
$black-light: #9e9e9e;
$black-button: #151515;
$black-highlight: #2c2c2c;
$white-body: #f9f9f9;
$white-button: #f8f8f8;

// typography
// Font size
$big-title: 2.85rem;
$big-heading: 1.75rem;
$big-subheading: 1.4rem;
$big-text: 1rem;
$big-text-xml: 0.75rem;
$sml-title: 2.85rem;
$sml-heading: 1.75rem;
$sml-subheading: 1.4rem;
$sml-text: 1rem;
$sml-text-xml: 0.75rem;

// Font weight
$light: 300;
$medium: 600;
$bold: 800;

// viewportSizes
$small: 400px;
$medium: 800px;
$big: 1200px;

// Borders
$light-border: 1px solid $black-light;

// spacing
$uniGap: 20px;
